:root {
    --color-principal: #34495e;
    --color-coche: #2ecc71;
    --color-camion: #e67e22;
    --color-fondo: #ecf0f1;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

.contenedor-flota{
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    width: 90%;
    max-width: 1000px;
}


h1{color: var(--color-principal); text-align: center;}
h2{color: var(--color-principal); border-bottom: 1px solid #ddd; padding-bottom: 5px;}

.panel-creacion{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.panel-creacion input, .panel-creacion select, #agregar-btn{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

#agregar-btn{
    background-color: var(--color-principal);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

/* Listado de la flota */
.flota-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.tarjeta-vehiculo{
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
}

.tipo-Coche {border-left: 5px solid var(--color-coche);}
.tipo-Camion {border-left: 5px solid var(--color-camion);}

.tarjeta-vehiculo h3{
    margin-top: 0;
    margin-bottom: 5px;
}

.accion-.recorrer, .accion-carga{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.accion-.recorrer input, .accion-carga input{
    width: 60px;
    padding: 5px;
}

.accion-.recorrer button, .accion-carga button{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.alerta-combustible {
    color: #e74c3c;
    font-weight: bold;
}