.caja-alerta {
    background-color: #bdc3c7;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color: #333;
    transition:  all 0.3s;  /* Efecto de cambio suave */
    
}

.alerta-activa {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    border: 3px solid white;
}