:root {
    --primary: #6c5ce7; 
    --bg: #a29bfe ;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg);
    display: flex; /* Centrado total */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.circulo-decorativo {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: var(--primary);
    border-radius: 50%;
    top: 10%;
    left: 20%;
    z-index: 1;
}

.card {
    position: relative;
    z-index: 10; /* Encima del circulo */
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px); /* Efecto cristal */
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}

.oculto {display: none;}

.data-box {
    background: #f0f0f0 ;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: var(--primary);
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.spinner{
    width: 30px;
    height: 30px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);} }


/* Section login-form */

.input-group{
    margin: 15px 0;
}

input[type="password"] {
    padding: 10px;
    width: 80%;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="password"]:focus{
    border-color: var(--primary);
}

.error {
    color: #e74c3c;
    font-size: 0.85em;
    margin-top: 10px;
    font-weight: bold;
}

input:disabled {
    background-color: #fce4e4;
    border-color: #f1aeb5;
    cursor: not-allowed;
}

#error-msg{
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}