body{
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    padding: 20px;
}

.app-container{
    max-width: 900px;
    margin: 0 auto;
}

h1{text-align: center; color: #2c3e50;}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.panel{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.05);
}

.form-venta{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {background-color: #2980b9;}

table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

th {background-color: #f8f9fa;}

.reporte-seccion {border-top: 5px solid #f1c40f;}

.header-reporte{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-reporte {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff9db;
    border-radius: 5px;
}

.oculto{
    display: none;
}