.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 10pxs;
}

.item {
    background-color: #3498db;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    /* 
    Ejemplo obteniedo mismos
    grid-area:  2 / 1 / 4 / 3;

     */
}

.a{
    grid-column: 1 / 3; /* Ocupa columnas 1 y 2 */
    grid-row: 1 / 2;  /* Solo fila 1 */
    /* 
    ejemplo igual al de arriba
    grid-column: span 2;
    grid-row: 1;
    span 2 = ocupa 2 columnas desde su lugar actual
    */
}

.b {
    grid-column: 3 / 5; /* Ocupa columnas 3 y 4 */
    grid-row: 1 / 3; /* Fila 1 y 2 */
}

.c {
    grid-column: 1 / 2; 
    grid-row: 2 / 4;
}

.d {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

/* 
                    Explicación 

- grid-column: 1 / 3 -> Empieza en la columna 1 y termina antes de la 3
- grid-row: 2 / 4 -> Ocupa desde la fila 2 hasta la 3 inclusive



*/

.perfil-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 150px 100px;
    gap: 20px;
    grid-template-areas: 
        "foto info"
        "social extras";
}

.foto {
    grid-area: foto;
    background-color: #2ecc71;
}

.info {
    grid-area: info;
    background-color: #9b59b6;
}

.extras {
    grid-area: extras;
    background-color: #3498db;
}

.social {
    grid-area: social;
    background-color: #f39c12;
}

.perfil-grid > div {
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
}