:root {
    --bg: #0f172a;
    --card: #1e293b;
    --accent: #38bdf8;
    --text: #f8fafc;
    --danger: #ef4444;
}

body{
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.dashboard{
    width: 100%;
    max-width: 800px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

h1 span{ color: var(--accent); }

.balance-card{
    background: linear-gradient(135deg, #0ea5e9, #2563eb);
    padding: 20px;
    border-radius: 15px;
    text-align: right;
    min-width: 200px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-section, .list-section{
    background: var(--card);
    padding: 20px;
    border-radius: 15px;
}

form{ display: flex; flex-direction: column; gap: 15px; }

input, select, button{
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #334155;
    background: #0f172a;
    color: white;
}

button {
    background: var(--accent);
    color: var(--bg);
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

button:hover {opacity: 0.8;}

ul{list-style: none; padding: 0;}

